{% extends "base.html" %}
{% block title %}{{ t('register_done.title') }}{% endblock %}

{% block content %}
<div class="wrap-sm">
  <h1>{{ t('register_done.h1') }}</h1>
  {% if mail_configured %}
  <p>{{ t('register_done.mail') }}</p>
  {% set again = '<a href="' ~ path_for('verify_again') ~ '">' ~ t('register_done.spam_link') ~ '</a>' %}
  <p class="small muted">{{ t('register_done.spam', link=again)|safe }}</p>
  {% else %}
  <p>{{ t('register_done.nomail') }}</p>
  {% endif %}
  <a class="btn btn-primary" href="{{ path_for('login') }}">{{ t('register_done.to_login') }}</a>
</div>
{% endblock %}
